# https://www.baeldung.com/lombok-configuration-system
# this option tells the configuration system not to search for config files in the parent directories
# It’s a good practice to add this property to the root of your workspace or project. By default, its value is false.
config.stopBubbling=true
lombok.addLombokGeneratedAnnotation = true
lombok.experimental.flagUsage=WARNING